
.loading{
    background-color: white;
    height: 70vh;
}

.loading h1{
    position: absolute;
    top: 40%;
    left: 10%;
    font-weight: 600;
    font-size: 68px;
    line-height: 93.6px;
    width: 611px;
    height: 243px;
}

.loading img{
    position: absolute;
    top: 15%;
    left: 17%;
    width: 156px;
    height: 155.93px;
}

.loading hr{
    background-color: rgba(192, 38, 7, 1);
    height: 30px;
    width: 80%;
        margin-top: 44%;
}