
.loading{
    background-color: white;
    height: 70vh;
}

.loading h1{
    position: absolute;
    width: 611px;
height: 243px;
top: 393.93px;
left: 120px;
gap: 0px;
opacity: 0px;
font-family: Conthrax;
font-size: 78px;
font-weight: 600;
line-height: 93.6px;
text-align: left;

}

.loading img{
    position: absolute;
    width: 156px;
    height: 155.93px;
    top: 198px;
    left: 120px;
    gap: 0px;
    opacity: 0px;
    
}
.loading hr {
    background-color: rgba(192, 38, 7, 1);
    height: 30px;
    width: 0; /* Set initial width to 0 */
    margin-top: 56%;
    animation: increaseWidth 2s ease-in-out forwards; /* Animation properties */
}

@keyframes increaseWidth {
    from {
        width: 0; /* Start width */
    }
    to {
        width: 80%; /* End width */
    }
}


@media only screen and (max-width: 400px){
    .loading h1{
        	
        font-size: large;
        margin-left: -5%;
    }

    .loading img{
        height: 100px;
        width: 100px;
    }

    .loading hr {
        background-color: rgba(192, 38, 7, 1);
    height: 10px;
    width: 0; /* Set initial width to 0 */
    margin-top: 124%;
    }
}