.hero {
    background-image: radial-gradient(50% 50% at 50% 50%, #FC3603 11%, #BF2506 100%);

    height: 796px;
    width: 1440px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    

}

/* @font-face {
    font-family: 'Conthrax SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Conthrax SemiBold'), url('conthrax-sb.woff') format('woff');
    } */

h1{
    font-family: 'Conthrax SemiBold';

}

.midSection div{
    width: 657px;
height: 208px;
position: absolute;
top: 210px;
left: 120px;
gap: 0px;
;

}

.heroTitle{
    font-family: Conthrax;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: left;

}




.para{
    font-family: Outfit;
    position: absolute;
font-size: 18px;
font-weight: 300;
line-height: 22.68px;
text-align: left;
width: 348px;
height: 150px;
top: 239px;
left: 972px;
gap: 0px;
color: #FFFFFF
;

}

.gridImage {
    width: 565px;
height: 565px;
top: 482px;
left: 611px;
gap: 0px;
;

position: absolute;
color: #FFFFFF;
}


.discord{
    width: 41px;
    height: 41px;
    top: 688px;
    left: 128px;
    padding: 6.6px 1.03px 6.6px 1.03px;
    gap: 0px;
    ;
    
position: absolute;
}

.discordText{
    width: 200px;
height: 31px;
top: 693px;
left: 184px;
gap: 0px;
;
position: absolute;
font-family: Outfit;
font-size: 16px;
font-weight: 300;
line-height: 20.16px;
text-align: left;

}
.searchBar{
    
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
    backdrop-filter: blur(8px);
    transition: transform 0.3s ease;
    width: 538px;
height: 61px;
top: 482px;
left: 128px;
gap: 0px;
border-radius: 100px;

border:1px solid #FFFFFF;
;
position: absolute;
}

.searchBar button{
    width: 165px;
height: 51px;
top: 4px;
left: 367px;
gap: 0px;
border-radius: 100px ;
;
position: absolute;
}

.searchBar button:hover{
    transform: scale(1.1);
}

.outfit-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.searchInput{
    width: 198px;
height: 12px;
top: 17px;
left: 50px;
gap: 0px;
;
font-family: Outfit;
font-size: 18px;
font-weight: 300;
line-height: 22.68px;
text-align: left;
position: relative;
}
.pointer{
    position: absolute;
    width: 108px;
    height: 156px;
    top: 429.5px;
    left: 1130.5px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    ;
    
}


@media only screen and (max-width: 390px){
    .hero{
        
height: 857px;
gap: 0px;
border-radius: 0px 0px 20px 20px;

    }


    /* .midSection h1{
        text-align: center;
        align-content: center;
    }

    .para{
        margin-top: 10%;
        color: white;
        
        width: 400px;
        text-align: center;
        margin-left: -7%;
    }

    .searchBar{
        
        width: 330px;
        height: auto;
        position: relative;
        left: -17%;
    }

    .searchBar button{
        font-size: small;
        line-height: 83%;
        transition: transform 0.3s ease;
}

.searchBar button:hover{
    transform: scale(1.5);
}
    .discord{
        margin-top: -12%;
        width: 300px;
        margin-left: 10%;
    }

    .gridImage{
        height: auto;
        width: auto;
        margin-left: 7%;
    } */



.hero{
    width: 390px;
height: 857px;
gap: 0px;
border-radius: 0px 0px 20px 20px;

}

    .midSection div{
        width: 328px;
height: 174px;
top: 143px;
left: 31px;
gap: 0px;

position: absolute;
    }

    .heroTitle{
        font-family: Conthrax;
font-size: 32px;
font-weight: 600;
line-height: 38.4px;
text-align: center;

    }

    .para{
        width: 316px;
height: 100px;
top: 357px;
left: 37px;
gap: 0px;
font-family: Outfit;
font-size: 14px;
font-weight: 300;
line-height: 17.64px;
text-align: center;
color: #FFFFFF;

position: absolute;
    }

    .searchInput{
        width: 154px;
height: 10px;
top: 22px;
left: 27px;
gap: 0px;
font-family: Outfit;
font-size: 14px;
font-weight: 300;
line-height: 17.64px;
text-align: left;
position: absolute;
    }
.searchBar{
    width: 332px;
height: 53px;
top: 518px;
left: 35px;
gap: 0px;
border-radius: 100px ;
;
border: 1px solid #FFFFFF
}

.searchBar button{
    width: 117px;
height: 40px;
top: 5px;
left: 207px;
gap: 0px;
border-radius: 100px ;


position: absolute;
}

.joinBtn{
    width: 76px;
height: 10px;
top: 12px;
left: 25px;
gap: 0px;
font-family: Outfit;
font-size: 14px;
font-weight: 600;
line-height: 17.64px;
text-align: left;
position: absolute;
}


.discord{
    width: 41px;
height: 41px;
top: 611px;
left: 67px;
padding: 6.6px 1.03px 6.6px 1.03px;
gap: 0px;
position: absolute;
}

.discordText{
    width: 200px;
height: 31px;
top: 616px;
left: 123px;
gap: 0px;
;
position: absolute;
font-family: Outfit;
font-size: 16px;
font-weight: 300;
line-height: 20.16px;
text-align: left;

}

.gridImage{
    width: 311px;
height: 311px;
top: 702px;
left: 40px;
gap: 0px;
;
position: absolute;
}
}