/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.image {
position: absolute;
width: 103px;
height: 57px;
top: 50px;
left: 1216px;
gap: 0px;
border-radius: 100px;
border: 1pt solid #FFFFFF;
opacity: 0px;


}

.image:hover{
    transform: scale(1.1);
}
.openMenu {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(8px); /* Apply a blur effect with a radius of 8px */
    
    margin-left: auto;
  }
  


.logoImg{

    width: 193px;
height: 42.35px;
top: 57px;
left: 120px;
padding: 0px;
gap: 0px;
opacity: 0px;
position: absolute;
}

  
@media only screen and (max-width: 400px){

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image{
    margin-right: -20%;
    width: 70px;
    height: 40px;
    transition: transform 0.3s ease;
}

.image:hover{
    transform: scale(1.1);
}
.logoImg{
    margin-left: -20%;
}

.openMenu{
 border-radius: 0%;
 position: absolute;
 left: 10%;
 top:-2%;
 width: 320px;
 border-radius: 5%;
 height: 266px;   
 justify-content: center ;
 
 background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent white */
 backdrop-filter: blur(16px);
}

.colBlock{
    margin-top: 17%;
    
}

.colBlock p{
    font-size: medium;
    margin-top: 7%;
    margin-left: 25%;
}

.adPara{
    width: 190px;
}
.colBlock img{
    height: 40px;
    position: relative;
    bottom: 90%;
    left: 60%;
}


}