
.footer{
    background-color: rgba(24, 24, 24, 1);
    width: 1440px;
height: 476px;
top: 3527px;
gap: 0px;
;
position: absolute;
}

.footerText{
    width: 576px;
height: 95px;
top: 113px;
left: 120px;
gap: 0px;
;
position: absolute;
font-family: Conthrax;
font-size: 50px;
font-weight: 600;
line-height: 60px;
text-align: left;

}


/* .footContent{
    width: 279px;
height: 77px;
top: 122px;
left: 1041px;
gap: 0px;
;
position: absolute;
} */

.blog{
    width: 36px;
height: 23px;
top: 122px;
left: 1041px;
gap: 0px;
;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
position: absolute;
color: #BCBCBC;
;
}

.privacyPolicy{
    width: 111px;
height: 23px;
top: 122px;
left: 1183px;
gap: 0px;
;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
position: absolute;
color: #BCBCBC;
}


.contact{
    width: 89px;
height: 23px;
top: 176px;
left: 1041px;
gap: 0px;
;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
position: absolute;
color: #BCBCBC;
}


.terms{
    width: 137px;
height: 23px;
top: 176px;
left: 1183px;
gap: 0px;
;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
color: #BCBCBC;
position: absolute;
}


.footerImage{
    width: auto;
    height: auto;
    top: 289px;
    left: 1000px;
    gap: 0px;
    opacity: 0.6px;
    position: absolute;    
}

.outfit-footerCopyright{
    width: 365px;
height: 21px;
top: 378px;
left: 120px;
gap: 0px;
;
font-family: Outfit;
font-size: 16px;
font-weight: 300;
line-height: 20.8px;
text-align: left;
position: absolute;
color:  #9C9C9C;

  
}

.footerLine{
    width: 464px;
height: 0px;
top: 388px;
left: 546px;
gap: 0px;
;
rotate: -0 deg;
position: absolute;
 border: 1px solid #7E7E7E33;
}

.WorldAds{
    width: 167px;
height: 37.47px;
top: 312px;
left: 120px;
gap: 0px;
;
position: absolute;
}

@media only screen and (max-width: 390px){


    .footer{
        
   
        width: 350px;
        overflow: hidden;
height: 746px;
top: 3436px;
gap: 0px;
position: absolute;
}
    .footerText{
        width: 337px;
height: 55px;
top: 82px;
left: 5px;
gap: 0px;

font-family: Conthrax;
font-size: 27px;
font-weight: 600;
line-height: 34.8px;
text-align: center;
position: absolute;
        
    }

    .blog{
        width: 36px;
height: 23px;
top: 208px;
left: 158px;
gap: 0px;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
   }
.privacyPolicy{
    width: 111px;
height: 23px;
top: 255px;
left: 125px;
gap: 0px;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
position: absolute;
}    

.terms{
    width: 137px;
height: 23px;
top: 302px;
left: 117px;
gap: 0px;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 23.4px;
text-align: left;
position: absolute;
}

.contact{
    width: 89px;
    height: 23px;
    top: 349px;
    left: 135px;
    gap: 0px;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
position: absolute;        
}

.WorldAds{
    width: 167px;
height: 37.47px;
top: 448px;
left: 94px;
gap: 0px;
position: absolute;
}

.outfit-footerCopyright{
    width: 297px;
height: 18px;
top: 509.47px;
left: 47px;
gap: 0px;
font-family: Outfit;
font-size: 12px;
font-weight: 300;
line-height: 18.2px;
text-align: left;
position: absolute;
}

.footerImage{
    width: auto;
height: auto;
top: 599px;
left: 0px;
gap: 0px;
opacity: 0.6px;
position: absolute;
}

/* .footerLine{
    width: 0px;
    height: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
} */
/* 
    .footContent{
        
        position: relative;
        left: -600px;
        top: 170px;
        
    }

    .footContent div{
        color: #BCBCBC;
        width: 200px;
        margin-left: 10%;
        font-size: larger;
        text-align: center;
    }

    .WorldAds img{
        height: 40px;
        width: 40px;
        margin-top: 37%;
        margin-left: 26%;
    }

    .WorldAds h1{
        margin-top: -10%;
        margin-left: 40%;
    }

    .outfit-footerCopyright{
        margin-left: 10%;
        width: 1000px;
    }

    .footerImage{
        height: 150px;
        margin-top: 25%;
        margin-left: -60%;
    } */
}