/* 
@media only screen and (max-width: 370px) {
    

    .mainContent{
        width: 300px;
        overflow: hidden;
    }
    
    .App{
        width: 350px;
        overflow: hidden;
    }
    
} */

